{{!-- PART1 用迴圈產生支出清單 --}}
{{#each recordsArr}}
<li class="list-group-item">
  <div class="row">
    <div class="col-2 col-lg-1">{{#if this.isPublic}}<i class="fas fa-lock-open"></i>{{else}}<i
         class="fas fa-lock"></i>{{/if}}
    </div>
    <div class="col-4 col-lg-2 mr-auto">
      <small style="display: inline; vertical-align: middle;">
        Created by:
      </small><small>{{this.owner}}</small>
    </div>
    <div class="col-3 col-lg-2 mr-auto">

      <h2 style="display: inline; vertical-align:middle;">

        <i class="{{getCategoryElement
            ../categoryArr
            this.category
            }}"></i>
      </h2>
      <h4 style="display: inline; vertical-align: middle;">
        {{this.name}}
        <p class="text-muted text-left mr-1"
           style="font-size:8px;">{{getCalendarDate this.date}}</p>
      </h4>
    </div>
    <div class="col-1 col-lg-1 mr-auto">
      <h5 style="display: inline; vertical-align: middle;">
        {{this.amount}}
      </h5>
    </div>
    {{!-- 刪除與修改 --}}
    <div class="col-auto">
      <a href="/records/{{this._id}}/edit"
         style="text-decoration:none">
        <button class="btn btn-warning"
                {{#if
                (isnt
                this.isPublic
                true)}}disabled{{/if}}>修改</button>
      </a>

      <form action="/records/{{this._id}}?_method=DELETE"
            method="POST"
            style="display: inline;">
        {{!-- 這裡是刪除元件 --}}
        <!-- Button trigger modal -->


        <button type="button"
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#delete{{this._id}}"
                {{#if
                (isnt
                this.isPublic
                true)}}disabled{{/if}}>
          刪除
        </button>

        <!-- Modal -->
        <div class="modal fade"
             id="delete{{this._id}}"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body justify-content-center text-center">
                <h5>確定要刪除 <span class="font-weight-bold">{{this.name}}</span> 嗎?</h5>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                <button type="submit"
                        class="btn btn-danger">確定</button>
              </div>
            </div>
          </div>
        </div>
        {{!-- 這裡是刪除元件 --}}
      </form>
    </div>
    {{!-- 刪除與修改 --}}
  </div>
</li>
{{/each}}
{{!-- PART1 用迴圈產生支出清單 --}}

{{!-- PART2 這裡是顯示錯誤訊息提式使用者 --}}
{{#if errorMessage}}
<li class="list-group-item text-center">
  {{{errorMessage}}}
</li>
{{/if}}
{{!-- PART2 這裡是顯示錯誤訊息提式使用者 --}}

{{!-- PART3 這裡是新增支出元件 --}}
<li class="list-group-item text-center">
  <a class="btn btn-success"
     href="/records/new">
    <h1 class="text-center">新增支出</h1>
  </a>
</li>
{{!-- PART3 這裡是新增支出元件 --}}