<div class="container mt-3">
  <table class="table table-striped table-dark">
    <thead>
      <tr class="
          bg-info">
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Expense Records</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      {{#each usersArr}}
      <tr>
        <th scope="row">{{this.firstName}}</th>
        <td>{{this.email}}</td>
        <td><input type="password"
                 value="{{this.password}}"
                 disabled></td>
        <td><button type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#showUserRecords{{this._id}}">
            Records <span class="badge badge-light">{{getCount this._id ../userOwnedRecord}}</span>
          </button></td>
        <td>{{this.role}}</td>
      </tr>
      <!-- Modal -->
      <div class="modal fade"
           id="showUserRecords{{this._id}}"
           tabindex="-1"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body justify-content-center text-center">
              <h5>Summary</h5>
              <ul class="list-group text-left">
                {{#each (getRecords this._id ../userOwnedRecord)}}
                <li class="list-group-item">
                  <strong class="mr-3"><i class="fas fa-tags mr-2"></i> {{this.name}}</strong>
                  <strong class="mr-3"><i class="far fa-calendar-alt mr-2"></i>{{getCalendarDate this.date}}</strong>
                  <strong><i class="fas fa-dollar-sign mr-2"></i> </strong><mark
                        style="background-color:yellow">{{this.amount}}</mark>
                </li>
                {{/each}}
              </ul>

            </div>
            <div class="
                    modal-footer">
              <button type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      {{/each}}
    </tbody>
  </table>



  <ul class="list-group">
    <li class="list-group-item text-center">
      <a class="btn btn-success"
         href="/records/new">
        <h1 class="text-center">新增使用者</h1>
      </a>
    </li>
  </ul>
</div>